USE [Dijital_ERP]
GO
/****** Object:  Table [dbo].[StockFiches]    Script Date: 11.04.2025 16:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockFiches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FisNo] [nvarchar](20) NULL,
	[FisTarihi] [date] NULL,
	[KayitTarihi] [date] NULL,
	[ProjeNo] [nvarchar](20) NULL,
	[SiparisNo] [nvarchar](20) NULL,
	[FirmaAdi] [nvarchar](250) NULL,
	[IlgiliKisi] [nvarchar](50) NULL,
	[Depo] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](250) NULL,
	[TeslimAlan] [nvarchar](50) NULL,
	[TeslimEden] [nvarchar](50) NULL,
	[Turu] [nchar](5) NULL,
	[Durumu] [nvarchar](20) NULL,
	[Faturano_irsaliyeno] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_StockFiches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockFichesLine]    Script Date: 11.04.2025 16:59:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockFichesLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParcaAdi] [nvarchar](250) NULL,
	[Proje_No] [nchar](10) NULL,
	[ParcaKodu] [nvarchar](150) NULL,
	[MalzemeNo] [nvarchar](20) NULL,
	[SeriNoLotNo] [nvarchar](20) NULL,
	[RafKonumYer] [nvarchar](20) NULL,
	[Miktar] [decimal](18, 2) NULL,
	[Birimi] [nvarchar](10) NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ToplamFiyat] [decimal](18, 2) NULL,
	[Tarih] [date] NULL,
	[Ay] [nchar](10) NULL,
	[Islem] [nchar](10) NULL,
	[EvrakIsEmri] [nvarchar](20) NULL,
	[IlgiliKisiFirma] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[CikisAdet] [decimal](18, 2) NULL,
	[AnaParcaKodu] [nvarchar](20) NULL,
	[Product_Id] [int] NULL,
	[Fiche_Id] [int] NULL,
	[IsActive] [bit] NULL,
	[SaklamaKosulu] [nvarchar](100) NULL,
	[SonKullanmaTarihi] [nvarchar](50) NULL,
	[KullanimDurumu] [bit] NULL,
	[FirmaId] [int] NULL,
 CONSTRAINT [PK_StockFichesLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockFiches]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFiches] ON [dbo].[StockFiches]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockFichesLine]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFichesLine] ON [dbo].[StockFichesLine]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockFichesLine_1]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFichesLine_1] ON [dbo].[StockFichesLine]
(
	[Fiche_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockFichesLine_2]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFichesLine_2] ON [dbo].[StockFichesLine]
(
	[IlgiliKisiFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockFichesLine_3]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFichesLine_3] ON [dbo].[StockFichesLine]
(
	[ParcaAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockFichesLine_4]    Script Date: 11.04.2025 16:59:35 ******/
CREATE NONCLUSTERED INDEX [IX_StockFichesLine_4] ON [dbo].[StockFichesLine]
(
	[ParcaKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockFiches] ADD  CONSTRAINT [DF_StockFiches_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockFichesLine] ADD  CONSTRAINT [DF_StockFichesLine_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockFichesLine] ADD  CONSTRAINT [DF_StockFichesLine_KullanimDurumu]  DEFAULT ((0)) FOR [KullanimDurumu]
GO
ALTER TABLE [dbo].[StockFichesLine]  WITH CHECK ADD  CONSTRAINT [FK_StockFichesLine_StockFiches] FOREIGN KEY([Fiche_Id])
REFERENCES [dbo].[StockFiches] ([Id])
GO
ALTER TABLE [dbo].[StockFichesLine] CHECK CONSTRAINT [FK_StockFichesLine_StockFiches]
GO
